<tr>
  <td><%= link_to person.full_name, person %></td>
  <td><%= person.email %></td>
  <td><%= person.age %></td>
  <td><%= link_to "Delete", person,
    method: :delete,
    class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent',
    data: { confirm: "Are you sure ? .This action will remove #{person.full_name} from the sytem. "} %></td>
</tr>
