<h1> Hello <%= @person.full_name %> </h1>

<p>
 Please notice that <%=@new_person.full_name %> has joined the application.
 Please take a look <%= link_to "Profile", person_url(@new_person) %>
<br>
Regrads,
<br>
People System
</p>
